/config/license.key
/config/license.key.1
.env
/.env
*.env.**
/.idea
/vendor
/public_html/cpresources
/public_html/assets
public_html/assets
public_html/assety
node_modules/** 
scripts/** 
/scripts/** 
.DS_Store
config.codekit3
