{% extends "_layouts/generic-page-layout.twig" %}
{% import '_macros' as macros %}

{% block content %}
    {%  set layout = null %}
    <!--  pagebuilder Entry type Content -->
    {%  if entry is defined %}
{% cache %}
        <section class=" pb-5 py-5 {% if entry.slug == "contact" %}py-0{%endif%} bg-white">
            <div class="container ">

                <div class="row ">
                    <h1 class="d-md-block mb-4">{{entry.title}}</h1>

                    <div class="col-12  {% if entry.slug == "contact" %} col-md-6 offset-md-3 text-center pt-sm-0 pt-0 {% endif %} position-relative pt-2 pt-sm-5 ">
                        {% if entry.slug == "contact" %}
                            <img src="{{baseUrl}}img/miguel-sq-small.jpg" class="d-block mx-auto img-fluid rounded-circle bg-primary m-5" alt="Picture of Miguel Lopez Sanchez" width="200" height="200">
                            {% endif %}
                        
                            
                            
                         
                           
                           {% if entry.body | length %}
                           <div class="bg-white mt-5 "></div>
                           {{entry.body }}
                            </div>
                           {% endif %} 
                           
                            {% for block in entry.contentBuilder.all() %}
                            {% set blockPrefix = "" %}
                            {% include ('blocks/block_' ~ block.type.handle) %}

                            {% endfor %} 
                         
                        </div>

                    </div>
                </div>
            </div>
        </section>
            
{% endcache %}

    {%  endif %}

{% endblock %}
