{% extends "_layouts/generic-page-layout.twig" %}
{% import '_macros' as macros %}

{% block content %}

<!--  pages/page Entry type Content -->
{% if entry is defined %}

{# {% include '/_partials/hero-featured.twig' %} #}
{# {% include('_partials/header-shallow')%} #}
{% cache %}
{# {% set asset = entry.image.one() ?? null %}
{% set alt = "" %}
{% if asset.alt| length > 0 %}
{% set alt = asset.alt %}
{% else %}
{% set alt = "Image of page "~ entry.title %}
{% endif %} #}

<section class="pag py-5 bg-white">
    <div class="container ">
        <div class="row">

            <div class="col-12  ">

                <h1 class="d-none d-md-block">{{entry.title}}</h1>
                {% if entry.body | length %}

                {{entry.body }}

                {% endif %}

            </div>
        
        
        </div>

    </div>
</section>
{% include "_partials/pricing-table" %}

{% endcache %}

{% endif %}

{% endblock %}