body,html{
  height:100vh;
}
// page header
img.logo{
  max-width:300px;
}


.article{
  background-color: $white;
}
.article.loop1{
  background: rgba(255, 255, 255, 0.95);
}
//sections
.services, .page{
  background-image: url("../img/hero-bg.webp");
}

.blockquote-footer{
    font-size:100%;
}

// header
a.navbar-brand{
    // font-family: "Sarala", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
}
.navbar-nav .nav-item{
    padding-left:0.8rem;
    padding-right:0.8rem;
}
a.nav-link{
    font-size:1.3rem;
    color:#333
}
a.icon-link{
    width:fit-content;
}
.navbar-collapse.collapsing,
.navbar-collapse.collapse.show{
  background-color: #f4f4f4;
  text-align: end;
}


.navbar-collapse.collapse.show .last.pe-0{
  padding-right: 0.8rem!important;
}
.navbar-toggler.collapsed {
  color: #606265;
}
.navbar-toggler {
  color: $primary;
}
.navbar-toggler:focus{
  box-shadow:0 0 0 0.08rem !important;
  color: #606265;
}

//dropdown fix parent link
.dropdown:hover>.dropdown-menu {
  display: block;
}

// .dropdown>.dropdown-toggle:active {
//   /*Without this, clicking will make it sticky*/
//     pointer-events: none;
// }
//home


//end home
// .quote img{
//     // // position: absolute;
//     // top:0;
//     // // left:-30px;
//     // // border:1px solid red;
//     // z-index: 1000000;
//     // // margin-left:-60px;
// }
//footer
.services h5.card-title{
  margin-left: -15px;
}
.testimonials .user-content{
  // height:100%;
}
.testimonials .carousel-item.active {
  display: flex;
}
.user-content h5 a{
  color:#0277b7;

}
.testimonials .user-content{
  background-color: white;
  // z-index: 99999;
  position: relative;
//  height: 460px;
}
.user-image{
  margin-bottom: -30px;
  z-index: 1;
  position: relative;
}
.carousel-control-prev {
  left: -20px;
}
.carousel-control-next {
  right: -20px;
}

 .carousel span.carousel-control-prev-icon,
.carousel span.carousel-control-next-icon,
.carousel span.carousel-control-prev-icon,
.carousel span.carousel-control-next-icon {
  filter: invert(1)!important;
}

@media only screen and (min-width: 768px) {
 
}


.orgs{
  // bottom:80px;
  position: relative;
  // z-index:1;
}
.footer {
    
    
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
footer a.nav-link{
    font-size:0.9rem;
    color:#333
}
//end footer
.quote-image{
    opacity: 0.2;
    position: absolute;
    // background-image: url('quote.png');
    background-repeat: no-repeat;
    // background-position: 5% 0 ;
    width:100px;
    height:60px;
    background-size:100px 60px;
    background-position-x: -0px;
    
 
}
.body p{
    font-weight: 500;
}
blockquote{
    font-style: italic;
}
// blockquote {
//     display: block;
//     border-width: 2px 0;
//     border-style: solid;
//     border-color: #f7d4de;
//     padding: 1.7em 30px;
//     position: absolute;
//     background-color: #fbeaee;
//     border-radius: 5px;
//   }
  
//   blockquote:before {
//     content: '\201C';
//     position: absolute;
//     top: 0em;
//     left: 50%;
//     padding: 5px 0 0 0;
//     transform: translate(-50%, -50%);
//     background: #fff;
//     width: 3rem;
//     height: 2rem;
//     color: #B7234C;
//     font: 2.45em/1.1em 'FontAwesome';
//     text-align: center;
//     border-radius: 50px;
//     background-color: #f7d4de;
//     box-shadow: 0 1px 5px #888888;
//   }

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}
figure{
    
    z-index: 9999;

    // margin-left:-60px;
    background-color: #eee;
}


@media only screen and (max-width: 600px) {

}



   
    @include media-breakpoint-up(sm) {

  }
  
  @include media-breakpoint-up(md) {

    .services h5.card-title{
      margin-left: -26px;
    }
  }

  @include media-breakpoint-up(lg) {

   
    //testy carousel
    .testimonials .user-content{
      height:400px;
    }
    .carousel-control-prev,
    .carousel-control-next {
      top:10%;
    }

  }

  //video youtube lazy load
  .video-container {
    max-width: 760px;
    margin: 48px auto 0;
    width: 100%;
  }

  